
<div class="container">

<div class="col-md-6">
<a class="pull-right btn " href="/category/new"><span class="glyphicon glyphicon-plus"></span> Create Category</a>
This is the category view.


<script type="text/ng-template" id="categoryTree">
    <a ng-click="changeCat(cat)" href="#">{{ cat.name }}</a>
		<a href="" ng-click="deleteCategory(cat)">	<span class="glyphicon glyphicon-remove"></span>	</a>
    <ul ng-if="cat.children.length>0">
        <li ng-repeat="cat in cat.children" ng-include="'categoryTree'">
        </li>
    </ul>
</script>

<ul class="list-group">
	<li class="list-group-item" ng-repeat="cat in tree">
		<a ng-click="changeCat(cat)" href="#">{{ cat.name}}</a>
	<a href="" ng-click="deleteCategory(cat)">	<span class="glyphicon glyphicon-remove"></span>	</a>
	<ul>
    <li ng-repeat="cat in cat.children" ng-include="'categoryTree'"></li>
	</ul>
	</li>
</ul>

</div>


<div class="col-md-6">
<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{active: true}">
    <a ng-href="/category/{{ category._id }}">View</a>
  </li>
  <li role="presentation" ng-class="{active: false}">
    <a ng-href="/category/{{ category._id }}/edit">Edit</a>
  </li>
</ul>


<form class="form" name="form" ng-submit="addCategory(form)" novalidate autocomplete="off">
  <!--Title-->
  <div class="form-group " ng-class="{ 'has-success': form.name.$valid && submitted,
                                      'has-error': form.name.$invalid && submitted }">
    <label popover-placement="top" popover="I appeared on mouse enter!" popover-trigger="mouseenter">Title</label>
    <input  type="text" name="title" class="form-control" ng-model="category.name"required/>
    <p class="help-block" ng-show="form.title.$error.required && submitted">
      A title is required
    </p>
  </div>
  <!--Slug-->
  <div class="form-group" ng-class="{ 'has-success': form.slug.$valid && submitted,
                                      'has-error': form.slug.$invalid && submitted }">
    <label   popover-placement="top"
            popover="Unique identifier"
            popover-trigger="mouseenter">
            Slug
    </label>
    <input type="text" name="slug" class="form-control" ng-model="category.slug"
           required
           mongoose-error/>
    <p class="help-block" ng-show="form.slug.$error.email && submitted">
      Doesn't look like a valid name.
    </p>
    <p class="help-block" ng-show="form.slug.$error.required && submitted">
      Slug is required.
    </p>
    <p class="help-block" ng-show="form.slug.$error.mongoose">
      {{ errors.slug }}
    </p>
  </div>
  <!--Parent-->
  <div class="form-group" ng-class="{ 'has-success': form.parent.$valid && submitted,
                                      'has-error': form.parent.$invalid && submitted }">
    <label  popover-placement="top"
            popover="Parent category. Leave blank for main category."
            popover-trigger="mouseenter">
            Parent
    </label>
    <select class="form-control"
            ng-options="cat.name for cat in categories"
            style="widht:70%;"
            ng-model="category.parent"

						default="null"
            name="parent">
    </select>
</div>
  <!--Description-->
  <div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted,
                                      'has-error': form.description.$invalid && submitted }">
    <label>Descrription</label>
    <textarea name="description" class="form-control" ng-model="category.description"
           required
           mongoose-error/>
    <p class="help-block" ng-show="form.description.$error.required && submitted">
      Please provide a description for the category.
    </p>
  </div>


  <div>
    <button class="btn btn-md btn-success" type="submit">
      Submit
    </button>
    <a class="btn btn-default btn-md btn-register" ng-click="reset(form)" type="reset">
      Reset
    </a>
		<alert ng-show="alert.msg" type="{{alert.type}}" >{{alert.msg}}</alert>
  </div>

</form>
</div>
</div>
