ul
{
    list-style-type: none;
}

.title{
    position:absolute;
    text-align:center;
    display:block;
    font-size:27px;
    font-weight:bold;
    opacity:0.2;
    z-index: 50;
}


.drop-box {
    background: #F8F8F8;
    border: 3px dashed #DDD;
    width: 100%%;
    min-height: 100px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 3px dashed blue;
}
.image-upload {
  position:relative;
    width:94px;
    max-height:94px;
    margin: 3px;
    float: left;

}
.image-upload>img {
  overflow: hidden;
  width:94px;
  height:94px;
  border-radius: 5px;


}
.image-upload .test {
    position:absolute;
    margin:3%;
    width:95%;
    bottom:0px;
}
.panel-body {
  min-height:500px;
}
